// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width:  960px;

  .plan {
    height: 500px;
    float: left;
    width: 300px / 960px * 100%;;
  }

  img { max-width: 100%; }

  .plan.premium {
    margin: 0 30px/960px * 100%;
  }

  @media all and (max-width: 420px) {
    .plan{
    min-width: 300px;
    margin:  0 0 10px 50px/420px * 100%;
    display: block;
    }

    .plan.premium {
    margin: 0 0 10px 50px/420px * 100%;
    }
  }
}